<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
    <h1>Welcome to the text anylizer . Enter your text below.</h1>
    <form action="/analyze" method="get">    
        <textarea name="text" id="" cols="30" rows="10" style="margin: 0px; width: 712px; height: 111px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove punctuations<br>
        <input type="checkbox" name="fullcaps">Uppercase<br>
        <input type="checkbox" name="Extra_Space_Remover">Extra Space Remover<br>
        <button type="submit">Analyze text</button>
    </form>
</body>
</html>